* {
  margin: 0  !important;
  padding: 0  !important;
  text-decoration: none  !important;
}

nav {
  background-color: rgb(206, 180, 180);
  padding: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WMessage {
  font-size: larger;
   padding: 100px !important;
   margin-bottom:100px !important;
}

.userinputs {
  display: flex;
  justify-content: center;
  margin-bottom: 100px !important;
}


li {
  list-style: none;
   display: inline;
    margin: 80px;
}

.Recipesheading {
  margin: 40px 0 100px 0 !important;
  text-align: center;
}

.recipes   {
  background-color: bisque !important;
border-bottom: 1px solid #000;
align-items: center;
padding: 30px !important;
}

br {
  padding: 10px;
  color: #000;
}

.recipesDetails {
  background-color:   bisque !important;
  text-align: center;
  min-height: 100vh;
}


strong {
  display: inline-block;
  margin: 20px 0 30px 0 !important;
}

.detailsImg {
  margin-top: 100px !important;
}


.exitButton {
  width: 100px;
  border-radius: 20px;
  margin-top: 50px !important;
}